In [28]:
import pandas as pd
import numpy  as np

In [29]:
df = pd.read_csv('chipotle.tsv' , sep = '\t')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
df.shape[0]

4622

In [6]:
df.shape[1]

5

In [9]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [31]:
df['item_name'].value_counts().sort_values(ascending = False).head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [32]:
df.groupby('item_name').agg({'quantity' : 'sum'}).sort_values(by = 'quantity' , ascending = False).head(1)

              quantity
item_name
Chicken Bowl       761

In [33]:
df.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [39]:
df.item_price.dtype

dtype('O')

In [23]:
df['item_price'] = df['item_price'].str.slice(1)

In [26]:
df.item_price = df.item_price.astype('float')

In [42]:
df['item_price'] = df.item_price.apply(lambda x:float(x[1:]))

In [43]:
df['item_price'].dtype

dtype('float64')

In [45]:
df['item_price'].sum()

34500.16

In [47]:
df['quantity'].count()

4622

In [48]:
df['item_price'].mean()

7.464335785374397

In [49]:
df['item_price'].sum() / df['quantity'].count()

7.464335785374297

In [51]:
df['item_name'].nunique()

50