In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
car1 = pd.read_csv('cars1.csv')
car2 = pd.read_csv('cars2.csv')

In [6]:
car1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [7]:
car1.drop(columns = ['Unnamed: 9' , 'Unnamed: 10' , 'Unnamed: 11' , 'Unnamed: 12' , 'Unnamed: 13'] , inplace = True)

In [10]:
car2.shape[0]

200

In [11]:
car1.shape[0]

198

In [12]:
car1.columns == car2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

In [15]:
Cars = pd.concat([car1,car2] , axis = 0)

In [16]:
Cars.shape[0]

398

In [22]:
Cars['Owners'] = np.random.randint(15000,73000)

In [23]:
Cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,58664
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,58664
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,58664
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,58664
4,17.0,8,302,140,3449,10.5,70,1,ford torino,58664
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,58664
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,58664
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,58664
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,58664
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,58664